.navbar {
    background-color: rgba(227, 228, 235, 1);
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: black;
}

.navbar-brand {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

/* main section css */

.main {
    background-image: url(../images/portfolio\ banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 100vh; */
}

.main h3 {
    font-size: 4.4rem;
    font-weight: 700;
}

.main h6 {
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 2;
    border-bottom: 3px solid rgb(233, 20, 109);
    width: 50%;
}

.main .btn1 {
    height: 55px;
    width: 138px;
    background-color: rgb(233, 20, 109);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.main .btn1:hover {
    background-color: rgb(182, 16, 85);
    transition: 0.5s;
}

.main .btn2 {
    height: 55px;
    width: 138px;
    color: rgb(233, 20, 109);
    outline: none;
    border: 1px solid rgb(233, 20, 109);
    font-weight: bold;
    border-radius: 5px;
}

.main .btn2:hover {
    background-color: rgb(182, 16, 85);
    transition: 0.5s;
    color: white;
}

/* main section css end */

/* about section css start */


.contain {
    width: 370px;
    height: 500px;
    border-radius: 5px;
    perspective: 1000px;

}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .7s;
    transform-style: preserve-3d;
}

.contain:hover .card {
    transform: rotateY(-180deg);
}

.front {
    background-color: rgb(182, 16, 85);
    color: white;
    text-align: center;
    -webkit-box-shadow: -1px 9px 59px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 59px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 59px -12px rgba(0, 0, 0, 0.75);


}

.front img {
    border-radius: 2px;
    height: 100%;
}

.back {
    background: linear-gradient(to bottom, #006666 30%, #339966 100%);
    transform: rotateY(-180deg);
    color: black;
    text-align: center;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 24), rgba(0, 0, 0, 24);
    backface-visibility: hidden;
}

.about h1 {
    font-size: 3rem;
    font-weight: 900;
}

.progress {
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 50px;
    /* align-items: center; */
    /* position: relative; */
    /* display: flex; */
    height: 25px;
    width: 100%;
}

.pro-value1 {
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.progress p {
    color: white;
    padding: 3px;
}

@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 98%;
    }
}

.pro-value2 {
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

.pro-value3 {
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.pro-value4 {
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 72%;
    }
}

.btn1 {
    height: 40px;
    width: 145px;
    border: none;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 5px;
}

.btn1:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.btn2 {
    height: 40px;
    width: 145px;
    border: 1px solid black;
    color: black;
    outline: none;
    border-radius: 5px;
}

.btn2:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

/* about css end */

/* services css start */
.servicestext {
    font-size: 3rem;
    font-weight: 900;
}

.services{
    width: 100%;
    height: 200px !important;
}
.card {
    /* border: none; */
    outline: none;
}

.card p {
    color: gray;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: lightgray;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;

}

.card:hover .circle {
    background-color: black;
    color: white;
    transition: 0.5s;
}



/* sevices  css end */

/* portfolio css start */

.control ul li {
    list-style: none;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    letter-spacing: 2px;
}

.item {
    position: relative;
}

.item:hover {
    -webkit-box-shadow: 6px 15px 101px -38px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 15px 101px -38px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 15px 101px -38px rgba(0, 0, 0, 0.75);
}

.item::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(104, 87, 59, 0.514);
    opacity: 0;
}
.item:hover:before
{
  opacity: 1;
  transition: 0.5s;
}

.item span {
    position: absolute;
    top: 40%;
    left: 46%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;

}

.item:hover span {
    opacity: 1;
    transition: 0.5s;
}

/* portfilio css end */

/* contect css start */

.circle:hover
{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.contact .btn3
{
    height: 40px;
    width: 140px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.contact .btn3:hover
{
    background-color: white;
    border:2px solid black;
    color: black;
    transition: 0.5s;
}

/* cntact css end */

/* footer css start */

footer {
    background-color: black;
    color: gray;
}